body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  background-color: wheat;
}

#title {
  font-family: Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}
