body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

svg {
  position: relative;
  background-color: wheat;
}

#title,
.gdp-label {
  font-family: Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

.bar:hover {
  fill: tomato;
}

#tooltip {
  position: absolute;
  color: black;
  background-color: wheat;
  padding: 5px;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  font-size: small;
  font-weight: bolder;
  pointer-events: none;
}

p {
  margin: 2px;
}

.source-info {
  font-family: Helvetica, sans-serif;
  font-size: xx-small;
}
